<!DOCTYPE html>
<html>

<head>
    <Title>Welcome!</Title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="./main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <p class="v10" />
    <p class="v10" />
    <div class="v7_3">
        <div class="v39_10">
            <div class="v10_24"></div>
            <span class="v10_26"><a href="/login" style="text-decoration: none; color: black;">LOGIN</a></span>
        </div>
        <div class="v10_27"></div>
        <div class="v39_5"></div>
        <div class="v39_11">
            <div class="v39_6"></div>
            <span class="v39_7"><a href="/register" style="text-decoration: none; color: black;">SIGNUP</a></span>
        </div>
        <div class="v39_8">
            <div class="v10_31">
                <div class="v10_32">
                    <div class="v10_33"></div>
                </div>
            </div>
            <div class="v10_34">
                <div class="v10_35"></div>
            </div>
            <div class="v10_36">
                <div class="v10_37">
                    <div class="v10_38"></div>
                </div>
            </div>
        </div>
        <div class="v39_15">
            <div class="v39_13"></div>
            <div class="v39_14"></div>
        </div>
        <span class="v39_19">Hi! Welcome to<br>
            StudyBuddy...

            A place not just to learn but
            also to learn....</span>
    </div>
</body>

</html>